@charset "utf-8";
.vs { width: 100%; height: 100%; overflow: hidden; }
.cover { display: none; width: 100%; }
#de_cover { display: block; }

#min { position: absolute; bottom: 20vh; left: 19vw; font-size: 50px; background-color: rgba(255,255,255,0.5); height: 160px; width: 385px; padding-left: 10px; line-height: 160px; text-indent: 15px; }
.spl { display: block; float: left; font-family: ''; }
.spl_bar { position: absolute; width: 100%; height: 30px; background-color: #111; }
#spl_top { top: 0; left: 0; }
#spl_bottom { left: 0; bottom: 0; }

#m_logo { display: none; width: 50px; height: 20px; background-image: url("../data/minumsa.png"); background-repeat: no-repeat; background-size: contain; }

#page2 { background-color: #121212; height: 100vh; display: flex; justify-content: center; align-items: center; }

.con_menu { width: 16vw; margin-right: 100px; }
.con_menu h2 { margin-bottom: 70px; color: #999; }
.con_menu li { color: #555; font-size: 20px; margin: 25px 0; cursor: pointer; line-height: 35px; }

.con_wrap { width: 60vw; height: 50vh; display: block; position: relative; }
#vs_book { width: 100%; height: 50vh; display: flex; flex-flow: row nowrap; justify-items: center; }
#vs_book a { color: #f3f3f3; }
#vs_book img { display: block; height: 48vh; margin-left: 40px; box-shadow: 1px 0px 10px cornsilk; overflow: hidden; }
#vs_bo { width: 720px; margin-left: 120px; margin-top: 50px; }

.con_fr { position: absolute; width: 37vw; height: 26vh; overflow: hidden; right: 0; bottom: 2vh; }
.con_box { width: 150%; display: flex; align-items: flex-end; }
.con_box .on { display: none; }
.new_b { display: block; width: 7vw; box-shadow: 1px 0px 5px cornsilk; margin: 20px 50px 20px 0; float: left; }
.txt_box { display: none; }

@media screen and (max-width:767px) {
    #m_cover { display: block; height: 55vh; }
    #de_cover { display: none; }

    .vs_bottom { position: relative; height: 45vh; display: flex; flex-flow: column; justify-content: space-around; align-items: center; }
    #min { position: relative; left: -60px; top: 0; width: 160px; height: 100px; line-height: 100px; font-size: 20px; text-indent: 5px; }
    .spl_bar { height: 20px; }
    #m_logo { display: block; }

    .con_menu { display: none; }
    .con_fr { display: none; }
    #vs_des { display: none; }
    #page2 { display: flex; justify-content: center; }
    .con_wrap { margin-top: 25px; margin-left: 24px; }
    #vs_book { width: 55vw; display: flex; flex-flow: column; justify-content: center; align-items: center; }
    #vs_book img { width: 55vw; margin: 0; }
    #vs_bo { margin: 0 auto; padding-top: 40px; width: 250px; text-align: center; font-size: 13px; }
}
@media screen and (min-width:768px) and (max-width:1200px) {
    #de_cover { display: none; }
    #t_cover { display: block; width: auto; height: 50vh; margin-top: 10vh; animation: tcover 17s cubic-bezier(1,-0.01,0,1) infinite; }

    @keyframes tcover {
        0% { transform: rotateZ(0deg); }
        100% { transform: rotateZ(-360deg); }
    }
    .vs { position: relative; height: 100vh; display: flex; flex-flow: column; justify-content: space-around; align-items: center; }
    #min { display: none; }
    #m_logo { display: block; }
    
    .con_menu { width: 28vw; margin-right: 0; }
    .con_menu h2 { margin-bottom: 50px; }
    .con_menu li { color: #555; font-size: 18px; margin: 10px 0; cursor: pointer; line-height: 35px; }
    .con_fr { display: none; }
    #page2 { display: flex; justify-content: center; align-content: center; }
    .con_wrap { margin: 0; padding: 0; width: auto; }
    #vs_book { width: 55vw; display: flex; justify-content: center; align-items: center; flex-flow: column; margin-left: 40px; }
    #vs_book img { height: 25vh; margin: 0; margin-left: -50px; padding: 0; }
    #vs_bo { width: 50vw; margin: 0; margin-top: 50px; }
}