@charset "utf-8";
.menu_btn { top: 6vh; right: 0px; }
.logo { position: absolute; left: 45vw; bottom: 40px; width: 50px; height: 20px; }
.gnb { margin: 0; }
.gnb a { line-height: 10px; font-size: 23px; }

.ft { height: 380px; padding-top: 25px; flex-flow: column; }
.fnb { display: none; }
#sim { width: 90px; }
.com { font-size: 22px; }
.f_box { margin-top: 5vh; }
