@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box;}
html, body { width: 100%; height: 100%; font-family: 'Goyang'; font-size: 14px; }
ul { list-style: none; }
a { text-decoration: none; color: #000000; }
img, button, label { display: block; border: 0; background-color: transparent; outline: 0; font-family: "Goyang"; }
.clearfix::after { content: ''; display: block; clear: both; }
.blind { position: absolute !important; overflow: hidden; width: 10px !important; height: 10px !important; margin: -1px !important; clip: rect(0,0,0,0) !important; }

/* loader */
.loading { position: fixed; z-index: 9999; top: 0; left: 0; width: 100vw; height: 100vh; background-color: #e5d3be; }

.loader { position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); }

.loader .dot {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}

.loader .dot:nth-child(1){
    animation-delay: .1s;
    background: #32AACC;
}
.loader .dot:nth-child(2){
    animation-delay: .2s;
    background:#64AACC;
}
.loader .dot:nth-child(3){
    animation-delay: .3s;
    background: #96AACC;
}
.loader .dot:nth-child(4){
    animation-delay: .4s;
    background: #C8AACC;
}
.loader .dot:nth-child(5){
    animation-delay: .5s;
    background: #FFFFFF;
}

@keyframes slide{
  0% { transform: scale(1); }
  50% { opacity: .3; transform: scale(2); }
  100% { transform: scale(1); }
}

.hd { margin: 0 auto; max-width: 1000px; font-family: "tree"; }
.tnb { display: flex; display: -ms-flexbox; justify-content: space-between; align-items: center; padding: 0.7rem 0; }
.tnb ul li { float: left; margin-right: 0.7rem; }
.join_btn a { display: block; border: 1px solid; font-size: 15px; float: left; line-height: 30px; font-family: 'Goyang'; margin: 0 10px; width: 65px; background-color: #333366; color: #fff; border-radius: 7px; opacity: 0.8; text-align: center; }

.gnbBox { position: relative; padding: 1.2rem 0; }
.logo { display: block; margin: auto; width: 10rem; height: 6rem; background: url("../data/main_logo.png") center/contain no-repeat; }
.m_btn { position: absolute; z-index: 999; top: 3rem; right: 3rem; width: 45px; height: 45px; background-color: rgba(230, 230, 230, 0.8); cursor: pointer; }
.m_btn span { display: block; margin: 0 auto; width: 30px; height: 3px; background-color: #000000; transition: 0.3s; }
.m_btn span.line1 { transform: translateY(-8px); }
.m_btn span.line3 { transform: translateY(8px); }
.gnb { display: flex; display: -ms-flexbox; flex-direction: column; justify-content: center; align-items: center; position: fixed; z-index: 998; top: 0; right: -80vw; width: 60vw; min-width: 300px; max-width: 400px; height: 100vh; background-color: rgba(188, 143, 143, 0.9); transition: 0.5s; border-radius: 30% 0 0 50%; }
.gnb > li { margin: 0.5rem; font-size: 2.5rem;  }
.sub { height: 0; overflow: hidden; transition: 0.5s; }
.gnb > li:hover .sub { height: 8rem; }

.sub a { font-size: 1.5rem; }
.sub a:before { content: "-"; }
.sub a:hover { text-decoration: underline; }
.gnb li:hover a.main { text-decoration: underline; }

footer{ clear: both; margin-top: 2rem; }
.fnb { display: flex; display: -ms-flexbox; flex-direction: column; align-items: center; padding: 2rem; }
.fnb_logo { margin-bottom: 10px; }

#totop { display: block; position: fixed; right: 100px; bottom: 50px; background-image: url("../data/totop.png"); width: 60px; height: 30px; border-radius: 25px; z-index: 999; }
@media screen and (min-width : 900px){
    .tnb .t_logo { display: block; width: 100px; height: 30px; background: url("../data/tnb_logo.png") center/cover no-repeat; }
    .gnbBox { display: block; }
    .logo { float: left; }
    .m_btn { display: none; }
    .gnb { float: right; display: block; position: static; margin-right: 6rem; min-width: fit-content; height: auto; background-color: transparent; }
    .gnb > li {  float: left; margin: auto; margin-left: 4.5rem;  }
    .gnb > li > a { display: block; line-height: 6rem; color: #000000; }
    
    .gnb:after { content: ""; width: 100%; height: 10rem; background-color: #fff; position: absolute; top: 8.4rem; left: 0; z-index: 998; border-bottom: 2px solid #000000; visibility: hidden; opacity: 0; transition: 0.5s; }
    
    .sub { position: absolute; top: 8.4rem; z-index: 999; height: auto; visibility: hidden; opacity: 0; transition: 0.5s; }
    .gnb:hover .sub { height: auto; visibility: visible; opacity: 1; }
    .gnb:hover::after { visibility: visible; opacity: 1; }
    
    .fnb { flex-direction: row; justify-content: space-around; font-size: 1rem; }
}
@media screen and (min-width : 1024px){
    html { font-size: 16px; }
}

