@charset "utf-8";
* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; font-family: 'TDTDTadakTadak'; }
ul { list-style: none; }
a { text-decoration: none; color: #000000; }
img, button, label { display: block; border: 0; background-color: transparent; outline: 0; }

.join_btn { position: absolute; margin-left: 50px; }
.join_btn a { display: block; border: 1px solid; font-size: 15px; float: left; line-height: 30px; font-family: 'TDTDTadakTadak'; margin-left: 20px; margin: 10px; width: 65px; background-color: #333366; color: #fff; border-radius: 7px; opacity: 0.8; text-align: center; }
/*
.join_btn { margin-left: 50px; }
.join_btn button { border: 1px solid; font-size: 15px; float: left; line-height: 30px; font-family: 'TDTDTadakTadak'; margin-left: 20px; display: block; margin: 10px; width: 65px; background-color: #333366; color: #fff; border-radius: 7px; opacity: 0.8; cursor: pointer; }
.sign { width: 500px; height: 500px; border: 2px solid; background-image: url("../data/paper.jpg"); background-position: center; position: absolute; z-index: 1000; left: 710px; top: 225px; display: none; }
.close_btn1 { position: absolute; font-size: 25px; right: 40px; top: 30px; color: #fff; background: #333366; line-height: 25px; width: 20px; border-radius: 4px; opacity: 0.8; cursor: pointer; font-family: 'TDTDTadakTadak'; }
#logo { display: block; background-image: url("../data/main_logo.png"); width: 250px; height: 150px; background-repeat: no-repeat; background-size: cover; margin: 50px auto; cursor: pointer; }
.sign input { clear: both; display: block; margin: 25px auto; font-family: 'TDTDTadakTadak'; font-size: 18px; text-indent: 5px; }
#sign_in { display: block; width: 65px; height: 30px; border: 1px solid; font-size: 15px; line-height: 25px; background-color: #333366; color: #fff; border-radius: 7px; opacity: 0.8; cursor: pointer; }
.sign ul { width: 190px; height: 20px; margin: 25px auto; padding-left: 10px; }
.sign li { float: left; }
.sign ul a { display: block; font-size: 18px; width: 90px; height: 18px; text-align: center; font-family: 'TDTDTadakTadak'; }
.sign li a:after { content: "|"; margin-left: 10px; }
.sign li a#last:after { content: ""; }

.join { width: 500px; height: 550px; border: 2px solid; background-image: url("../data/paper.jpg"); background-position: center; font-family: 'TDTDTadakTadak'; position: absolute; z-index: 1000; top: 200px; left: 710px; display: none; }
.close_btn2 { position: absolute; font-size: 25px; right: 40px; top: 30px; color: #fff; background: #333366; line-height: 25px; width: 20px; border-radius: 4px; opacity: 0.8; cursor: pointer; font-family: 'TDTDTadakTadak'; }
feildset { display: block; width: 300px; height: 550px; margin: 0 auto; }
legend { font-size: 23px; line-height: 30px; width: 80px; height: 30px; text-align: center; margin: 20px auto; margin-top: 50px; }
.join label { font-size: 20px; margin-top: 15px; }
.join input { margin-top: 10px; font-family: 'TDTDTadakTadak'; width: 170px; font-size: 16px; text-indent: 5px; }
select { margin-bottom: 25px; font-family: 'TDTDTadakTadak'; width: 110px; font-size: 16px; }
#join_in { display: block; width: 65px; height: 30px; border: 1px solid; font-size: 15px; line-height: 25px; font-family: 'TDTDTadakTadak'; margin: 0 auto; background-color: #333366; color: #fff; border-radius: 7px; opacity: 0.8; cursor: pointer; }
*/


.hd_wrap { width: 100%; background-color: #fff; font-family: "Tree"; }
.hd { width: 70%; height: 180px; margin: 0 auto; border-bottom: 1px solid; }
.tnb { float: left; width: 100%; height: 50px; margin: 0 auto; border-bottom: 1px solid; }
.tnb .t_logo { display: block; position: absolute; width: 120px; height: 50px; background-image: url("../data/tnb_logo.png"); right: 27%; float: left; }
.tnb ul { position: absolute; right: 15%; width: 180px; height: 50px; }
.tnb li { float: left; margin: 10px; }
.menu { float: left; width: 100%; height: 130px; position: relative; }
.gnb li:hover a.main { text-decoration: underline; }
.sub a:hover { text-decoration: underline; }
.logo { display: block; position: absolute; width: 174px; height: 100px; background-image: url("../data/main_logo.png"); margin-left: 150px; margin-top: 15px; float: left; }
.gnb { position: absolute; width: 950px; left: 370px; }
.gnb li { float: left; margin-left: 50px; }
.gnb a { display: block; line-height: 130px; font-size: 35px; margin-left: 50px; color: #000000; }

.gnb:after { content: ""; width: 1333px; height: 175px; background-color: #fff; position: absolute; top: 129px; left: -370px; z-index: 998; border-bottom: 2px solid #000000; visibility: hidden; opacity: 0; transition: 0.5s; }
.sub { position: absolute; top: 130px; z-index: 999; visibility: hidden; opacity: 0; transition: 0.5s; }
.sub li { clear: both; height: 50px; margin: 0; }
.sub a { font-size: 25px; line-height: 50px; text-align: center; margin-left: 40px; }
.sub.comm { margin-left: 20px; }
.sub a:before { content: "-"; }
.gnb:hover .sub { visibility: visible; opacity: 1; }
.gnb:hover::after { visibility: visible; opacity: 1; }


#ft { float: left; width: 100%; height: 130px; background: #ccc; }
#ft ul { width: 70%; margin: 0 auto; position: relative; }
.fnb li { float: left; margin-left: 30px; }
.fnb_logo { display: block; margin-top: 15px; }
.fnb p { height: 130px; font-size: 22px; line-height: 130px; margin-left: 50px; }

#totop { display: block; position: fixed; right: 100px; bottom: 50px; background-image: url("../data/totop.png"); width: 60px; height: 50px; border-radius: 25px; z-index: 999; }
