@font-face { font-family: 'tree'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeTB.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'fromdami'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.0/fromdamiM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'TDTDTadakTadak'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/TDTDTadakTadak.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face {
    font-family:'title';
    src:local("title"), url("title.eot") format("opentype"); font-weight: normal; font-style: normal;
}
