@charset "utf-8";
.join { width: 100%; max-width: 320px; margin: 0 auto; }
.join label { margin-top: 1rem; }
.join input { margin-top: 8px; font-family: 'Goyang'; width: 70%; line-height: 1.5; font-size: 1.1rem; }
#join_in { border: 1px solid; font-size: 14px; line-height: 30px; font-family: 'Goyang'; margin: 40px auto; display: block; width: 65px; background-color: #333366; color: #fff; border-radius: 7px; opacity: 0.8; text-align: center; }
#e_mail, #e_mail2 { width: 45%; }
.join select { width: 150px; font-family: 'Goyang'; height: 30px; font-size: 17px;   }