@charset "utf-8";
* { box-sizing: border-box; }
main { clear: both; width: 70%; margin: 0 auto; position: relative; }

.local { width: 15%; height: 750px; float: left; font-family: 'tree'; position: relative; text-align: right; }
.lo_bar { position: absolute;  width: 70%; right: 30%; top: 30px; }
.local p { font-size: 38px; line-height: 70px; margin-bottom: 20px; }
.local ul { font-size: 25px; line-height: 38px; }
.local a:hover { text-decoration: underline; }

.bread { height: 60px; margin-left: 17%; font-size: 20px; padding-top: 20px; text-align: right; margin-right: 60px; }
.bread a { text-decoration: underline; }

.con { position: absolute; width: 85%; margin-top: 25px; left: 15%; border-left: 2px solid; }
.con img { display: block; width: 450px; margin: 20px 50px; float: right; }

.list { margin-left: 5%; margin-top: 40px; width: 50%; }
.list h1 { font-size: 30px; text-align: center; margin: 20px; }
.list h3 { line-height: 60px; text-indent: 20px; font-size: 25px; }
.con p { font-size: 22px; margin: 0 30px; }
.con span { display: block; }