@charset "utf-8";
* { box-sizing: border-box; }
main { clear: both; width: 70%; margin: 0 auto; position: relative; }

.local { width: 15%; height: 1000px; float: left; font-family: 'tree'; position: relative; text-align: right; }
.lo_bar { position: absolute;  width: 70%; right: 30%; top: 30px; }
.local p { font-size: 38px; line-height: 70px; margin-bottom: 20px; }
.local ul { font-size: 25px; line-height: 38px; }
.local a:hover { text-decoration: underline; }

.bread { height: 60px; margin-left: 17%; font-size: 20px; padding-top: 20px; text-align: right; margin-right: 60px; }
.bread a { text-decoration: underline; }

.con { width: 85%; height: 1000px; margin-top: 25px; margin-left: 15%; margin-bottom: 30px; border-left: 2px solid; }
.con h1 { font-size: 30px; text-align: center; margin: 30px; }
.con img { width: 800px; margin: 0 auto; }
.con div { margin: 30px auto; width: 900px; }
.con div h3 { margin: 30px; margin-top: 40px; text-indent: 20px; font-size: 25px;}
.con p { font-size: 22px; margin: 0 30px; }
.con span { display: block; }