@charset "utf-8";
* { box-sizing: border-box; }
main { clear: both; width: 70%; margin: 0 auto; position: relative; }

.local { width: 15%; height: 1300px; border-right: 2px solid;  float: left; font-family: 'tree'; position: relative; text-align: right; }
.lo_bar { position: absolute;  width: 70%; right: 30%; top: 30px; }
.local p { font-size: 38px; line-height: 70px; margin-bottom: 20px; }
.local ul { font-size: 25px; line-height: 38px; }
.local a:hover { text-decoration: underline; }

.bread { height: 60px; margin-left: 17%; font-size: 20px; padding-top: 20px; text-align: right; margin-right: 60px; }
.bread a { text-decoration: underline; }
.content { float: left; width: 85%; height: auto; margin: 0px auto; left: 15%;  }

.con { width: 900px; height: auto; margin: 0px auto; }
.con h1 { font-size: 30px; text-align: center; padding: 30px; }
.con p { display: block; width: 750px; margin: 0 auto;}
.con h3 { margin: 20px; margin-top: 40px; text-indent: 20px; font-size: 25px;}
dl { font-size: 22px; margin-bottom: 30px; }
dt { font-weight: 600; margin-top: 20px; }
dd { margin-left: 30px; }