@charset "utf-8";
.content form { margin: 2rem auto; }
.login_logo { display: block; width: 280px; height: 150px; background-image: url("../data/main_logo.png"); background-size: cover; margin: 10px auto; clear: both; }
#id, #pw { display: block; clear: both; text-indent: 10px; width: 200px; height: 50px; font-size: 18px; margin-bottom: 10px; font-family: 'Goyang'; }
.lala { width: 300px; margin-left: -15px; float: left; }
.lala li { float: left; }
.lala a { display: block; text-align: center; font-size: 20px; float: left; }
.lala li:after { content: "/"; font-weight: 900; margin: 0 20px;}
#last:after { content: ""; }
#po { width: 200px; height: 250px; margin: 50px auto; }
.lala a:hover { cursor: pointer; text-decoration: underline; }
#sub { border: 1px solid; font-size: 15px; line-height: 30px; font-family: 'Goyang'; margin: 20px auto; display: block; width: 65px; background-color: #333366; color: #fff; border-radius: 7px; opacity: 0.8; text-align: center; }
