@charset "utf-8";
.vs { width: 100%; overflow: hidden; }
#tit { position: absolute; left: 60vw; bottom: 9vh; font-size: 30px; color: #fff; text-shadow: 4px 4px 7px #000;  }
.vs_box { width: 400%; }
.vs_box li { width: 25%; float: left; }
.vs_box #img3 { min-height: 89vh; background-image: url("./data/img1.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; }
.vs_box #img2 { min-height: 89vh; background-image: url("./data/img2.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; }
.vs_box #img1 { min-height: 89vh; background-image: url("./data/img3.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; }
.vs_box li p { color: #fff; position: absolute; left: 60px; bottom: 150px; font-size: 20px;}

h2 { margin: 7% 0 4% 10%; }
.page1 input { display: none; }
.tap1, .tap2 { float: left; display: block; width: 50%; line-height: 50px; text-align: center; }
#ra1:checked ~ .tap2 { border-left: 1px solid #000; border-bottom: 1px solid #000; box-sizing: border-box; }
#ra1:checked ~ .re { display: block; }
#ra2:checked ~ .tap1 { border-bottom: 1px solid #000; border-right: 1px solid #000; box-sizing: border-box; }
#ra2:checked ~ .one { display: block; }
.re { display: none; }
.one { display: none; }

.re:before { clear:both; display:table; content:''; }
/* 얘가 있어야 .re form의 마진을 안씹는다. */
.re { width: 100%; height: 235px; clear: both; border-bottom: 1px solid #000; }
.re form { width: 80%; margin: 40px auto; }
.sel { width: 300px; margin: 0 auto; }
.from { display:block;  width: 131px; height: 40px; float: left; background-color: #fff; border: 1px solid #000; }
.return_img { display: block; float: left; width: 27px; height: 27px; margin: 6px 4px; border: 1px solid #000; background-image: url("./data/rou_arw.png"); }
.to { display:block; width: 131px; height: 40px; background-color: #fff; border: 1px solid #000; }

.date { clear: both; display: block; width: 300px; height: 40px; margin: 20px auto; background-color: #fff; border: 1px solid #000; }
.reservate { display: block; width: 150px; height: 40px; margin: 0 auto; background-color: #fff; border: 1px solid #000; }

.one:before { clear:both; display:table; content:''; }
.one { width: 100%; height: 235px; clear: both; border-bottom: 1px solid #000; }
.one form { width: 80%; margin: 40px auto; }
.one_way { display: block; float: left; width: 27px; height: 27px; margin: 6px 4px; border: 1px solid #000; background-image: url("./data/arw.png"); background-position: center; background-repeat: no-repeat; }

.page2 { width: 100%; overflow: hidden;}
.slide_box { width: 400%; }
.slide_box li { width: 25%; float: left; }
#slide1 { display: block; min-height: 80vh; background-image: url("./data/slide2.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; }
#slide2 { display: block; min-height: 80vh; background-image: url("./data/slide3.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; }
#slide3 { display: block; min-height: 80vh; background-image: url("./data/slide1.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; }

.rad { display: none; }
#rdo1:checked ~ .re_num { display: block; }
#rdo2:checked ~ .ti_num { display: block; }
#rdo1:checked ~ .tap2 { border-left: 1px solid #000; border-bottom: 1px solid #000; box-sizing: border-box; }
#rdo1:checked ~ .tap1 { border-top: 1px solid #000; box-sizing: border-box; }
#rdo2:checked ~ .tap1 { border-right: 1px solid #000; border-bottom: 1px solid #000; box-sizing: border-box; }
#rdo2:checked ~ .tap2 { border-top: 1px solid #000; box-sizing: border-box; }
.page3 div:before { clear:both; display:table; content:''; }
.re_num, .ti_num { width: 100%; height: 310px; clear: both; border-bottom: 1px solid #000; display: none; }
.re_num label, .ti_num label { display: block; width: 200px; margin: 0 auto; margin-top: 20px; height: 25px; }
#re_num, #ti_num { display: block; margin: 10px auto; width: 200px; height: 40px; text-indent: 10px; background-color: #fff; border: 1px solid #000; }
#re_date, #ti_date { display: block; width: 200px; height: 40px; margin: 10px auto; background-color: #fff; border: 1px solid #000; }
.check_btn { display: block; width: 120px; height: 40px; margin: 25px auto; background-color: #fff; border: 1px solid #000; outline: none; border-radius: 0; }

.page4 p { font-size: 15px; margin: -10px 0 2vh 20vw; }
.page4 form { width: 80%; margin: 30px auto; clear: both; }
