@charset "utf-8";
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; font-family: 'Baskervville', 'Nanum Gothic Coding', serif; background-color: black; color: #fff; }
ul { list-style: none; }
img, a, label, span, input, button, select { display: block; margin: 0; padding: 0; border: 0; border-radius: 0; text-decoration: none; background-color: transparent; font-family: 'Baskervville', 'Nanum Gothic Coding', serif; -webkit-appearance: none; }
.clearfix::after { content: ''; display: block; clear: both; }

#hd { position: fixed; top: 0; width: 100%; height: 80px; border-bottom: 1px solid #97894a; box-sizing: border-box; background-color: black; }
#logo { width: 150px; height: 80px; margin: 0px auto; background-image: url("../data/logo.png"); background-size: contain; background-position: center; background-repeat: no-repeat; }
#hd label { width: 50px; height: 50px; border: 2px solid #97894a; border-radius:1px; position: absolute; top: 15px; }
#t_btn1 { left: 15px; }
#t_btn1 span { width: 30px; height: 2px; background-color: #97894a; margin: 11px; margin-left: 10px; }
#ck1:checked ~ #hd #line1 { transform: translateX(-5px) translateY(13px) rotateZ(45deg); transform-origin: 50% 50%; width: 40px; height: 3px; border-radius: 2px; }
#ck1:checked ~ #hd #line2 { opacity: 0; }
#ck1:checked ~ #hd #line3 { transform: translateX(-5px) translateY(-13px) rotateZ(-45deg); transform-origin: 50% 50%; width: 40px; height: 3px;  border-radius: 2px;}
#t_btn2 { right: 15px; }
.fas { font-size: 23px; color: #97894a; margin: 13.5px; }
.ck { display: none; }

.gnb { position: fixed; top: 80px; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.9); left: -100vw; transition: 0.6s;}
.menu li { height: 65px; border-bottom: 1px solid #97894a; }
.menu a { color: #fff; text-align: center; line-height: 65px; }
#ck1:checked ~ .gnb { left: 0; }

.tnb { position: fixed; top: 80px; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.9); left: 100vw; transition: 0.6s; }
.member li { height: 65px; border-bottom: 1px solid #97894a; }
.member a { color: #fff; text-align: center; line-height: 65px; }
#ck2:checked ~ .tnb { left: 0; }

#ft { float:left; width: 100%; height: 60px; border-top: 1px solid #97894a; margin-top: 5%; }
#ft p { text-align: center; font-size: 13px; line-height: 20px; margin: 10px; }

main::before { content: ''; clear: both; display: block; height: 80px; }
