@charset "utf-8";
.vs { width: 100%; overflow: hidden; }
.vs ul { width: 400%; }
.vs li { float: left; width: 25%; }
.vs img { width: 100%; min-height: 26vh; }

main a { color: #fff; font-size: 13px; }

section h3 { width: 70%; margin: 7% auto; text-indent: 7%; line-height: 35px; border-bottom: 2px solid #97894a; }

.page1 ul { width: 80%; margin: 0 auto; }
.page1 li { width: 50%; float: left; }
.page1 img { width: 90%; margin: 0 auto; }
.page1 a { width: 80%; text-align: center; margin: 7% 10%; }

.page2 { float: left; }
.page2 ul { width: 80%; margin: 0 auto; }
.page2 li { float: left; width: 50%; }
.page2 img { width: 90%; margin: 0 auto; }
.page2 a { width: 80%; text-align: center; margin: 7% 10%; }

.page3 { width: 100%; float: left; }
.page3 ul { width: 90%; margin: 0 auto; }
.page3 li { float: left; width: 30%; margin: 0 1.5% 7% 1.5%; }
.page3 img { width: 100%; }