@charset "utf-8";
form { width: 70%; margin: 7% auto; margin-bottom: 5%; overflow: hidden; }
.go, #sel { display: block; float: left; margin: 0 6% 0 0; width: 47%; height: 40px; border: 2px solid #97894a; background-color: transparent; color: #fff; }
#sel { margin-right: 0; text-indent: 10px;}
.map img { width: 100%; min-height: 31vh; }