@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width: 100%; height: 100%; color:#fff; background-color: transparent; font-family: 'Indie Flower', 'UhBeeMiMi'; }
html { overflow: hidden; }
body { overflow: auto; }
a { text-decoration: none; color: #fff; }
ul { list-style: none; }
p { cursor: context-menu;  }
::-webkit-scrollbar { display: none; }
::-moz-scrollbar { display: none; }
::-o-scrollbar { display: none; }
/* universe */
.container { position: fixed; width: 100%; height: 100%; background-image: radial-gradient(1200px at 60% 120%, rgb(23, 28, 58) 5%, #020409 100%); }
#universe { width: 100%; height: 100%; }

.page { width: 100%; height: 100vh; position: relative;  }
.hd { position: fixed; z-index: 999; width: 100%; }
#hide { display: none; }
.gnb { color: #fff; font-size: 35px; width: 1120px; margin: 0px auto; padding-top: 50px; }
.gnb li { transform: translateX(200px); opacity: 0; cursor: pointer; transition: 1s; float: left; margin-right: 8.1vw; }
.gnb li:last-child { margin-right: 0px; }
#float { display: none; animation: float 2s infinite linear; position: absolute; height: 45px; width: 40px; top: 50px; left: 5vw; }
#fishing { display: none; position: absolute; height: 40px; width: 60px; top: 35px; }
#stick { animation: float 2s infinite linear; transform-origin: 80% 0; }
@keyframes float { 
  from { transform: rotateZ(-12deg); }
  50% { transform: rotateZ(-2deg); }
  to { transform: rotateZ(-12deg); }
}@keyframes rotate { 
  from { transform: rotateY(180deg) rotateZ(-12deg); }
  50% { transform: rotateY(180deg) rotateZ(-2deg); }
  to { transform: rotateY(180deg) rotateZ(-12deg); }
}
#moon_btn { position: fixed; z-index: 1000; right: 60px; top: 40px; }
#moon { width: 60px; height: 60px; animation: scale 5s infinite linear; cursor: pointer; transform-origin: 50% 60%; transform: rotateY(180deg); }
#info { position: absolute; font-size: 24px; width: 200px; margin-left: -55px; padding-top: 15px; text-shadow: 3px 3px 15px #fff; }
@keyframes scale {
  0% { transform: scale(0.8) rotate(0deg) rotateY(180deg); }
  50% { transform: scale(1.0) rotate(180deg) rotateY(180deg); }
  100% { transform: scale(0.8) rotate(360deg) rotateY(180deg); }
}
@keyframes circle { 
  from { transform: rotate(0deg) rotateY(180deg); }
  to { transform: rotate(-360deg) rotateY(180deg); }
}

/* home */
#hi { display: block; width: 310px; text-align: center; font-size: 40px; margin: auto; padding-top: 40vh; }
#hi span { display: block; }

/* about page */
#about { padding-top: 33vh; height: auto; padding-left: 6vw; }
#about_wrap { width: 70%; min-width: 1150px; height: 67vh; margin: 0 auto; }
#ab_box { float: left; opacity: 0; margin-right: 4vw; margin-top: -7vh; transform: rotateZ(-10deg); font-size: 25px; }
#ab_img { display: block; height: 25vh; }

#card { float: left; width: 857px; font-size: 23px; columns: 2; }
.card_lst { transition: 0.5s ease-out; transform: translateX(3vw); opacity: 0; }
.card_lst.on { transform: translateX(0vw) translateY(0vh); opacity: 1; }
#card li { padding-bottom: 5vh; margin-left: 3vw; }
#card p { text-indent: 7px; } 
#edu_lst li { clear: both; padding-bottom: 0vh; margin-left: 0vw;  }
#icon_wrap { padding-top: 10px; padding-left: 10px; }
#resume { display: block; width: 250px; line-height: 50px; text-align: center; border: 1px solid #fff; transition: 0.5s; clear: both; }
#resume:hover { text-shadow: 2px -2px 10px #fff; box-shadow: 2px -2px 10px #fff; }

/* @keyframes char { 흔들리는 기능. 사용안함 animation: char 3s ease-out; transform-origin: 50% 0; 
  0% { transform: rotateZ(40deg); }
  10% { transform: rotateZ(-28deg); }
  20% { transform: rotateZ(14deg); }
  30% { transform: rotateZ(-13deg); }
  40% { transform: rotateZ(10deg); }
  60% { transform: rotateZ(-8deg); }
  80% { transform: rotateZ(5deg); }
  100% { transform: rotateZ(0deg); }
}
#about_menu { position: absolute; font-size: 30px; top: 26%;right: 13%; }
#about_menu li { transform: rotateZ(-20deg); padding: 2vh 0; } */

/* ability page */
#ability { padding-top: 13vh; }
#planet_box { width: 87%; height: 85vh; margin: auto; position: relative; transition: 1s; }
.planet { cursor: pointer; width: 100%; height: 100%; }
.planet_tit { position: absolute; display: block; font-size: 22px; }
.planet_wrap { position: absolute; }
.planet_wrap:hover { animation: planet 0.6s infinite linear; }
@keyframes planet{
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

#ring_wrap { position: absolute; z-index: 888; cursor: pointer; top: 22%; left: 15%; width: 25vh; height: 25vh; transition: 1s; }
#ring { display: block; width: 100%; height: 100%; animation: circle 25s infinite linear; }
#ring_tit { position: absolute; font-size: 28px; text-align: center; width: 100%; top: 42%;z-index: 888; text-shadow: 2px 2px 3px #000; }

#html_wrap { width: 13vh; height: 13vh; top: 28%; right: 25%; }
#html { transform: rotateZ(-130deg); }
#html_tit { top: 85%; left: -32%; }

#css_wrap { width: 16vh; height: 16vh; top: 17%; right: 50%; }
#css { transform: rotateZ(-10deg); }
#css_tit { top: -14%; left: 25%; }

#javascript_wrap { width: 10vh; height: 10vh; top: 12%; right: 10%; }
#javascript { transform: rotateZ(-110deg); }
#javascript_tit { top: -40%; left: -40%; }

#jquery_wrap { width: 31vh; height: 31vh; bottom: 10%; right: 38%; }
#jquery { transform: rotateZ(20deg); }
#jquery_tit { top: 10%; left: -8%; }

#php_wrap { width: 14vh; height: 14vh; bottom: 19%; left: 17%; }
#php_tit { top: 90%; left: -23%; }

#design_wrap { width: 14vh; height: 14vh; bottom: 15%; right: 14%; }
#design { transform: rotateZ(-20deg); }
#design_tit { top: 95%; left: -40%; }

#ability_box { position: absolute; top: 25%; left: 22%; font-size: 1.3vw; width: 31vw; text-shadow:1px 1px 5px black; }
#ability_box li { position: absolute; display: none; }
#ability_box li h3 { padding-bottom: 10px; }
#ability_box li span { display: block; padding-top: 10px; }

.ability_works { position: absolute; width: 35vw; margin-left: -12vw; padding-top: 3vh;  }
.ability_works dt { text-align: center; font-size: 1.3vw;  cursor: context-menu;  border: 1px solid #fff; width: 5.5vw; padding-top: 0.2vw; line-height: 1.6; margin: 0 auto; }

.ability_works dd { float: left; margin-right: 2.1vh; height: 0px; padding-top: 1vw; overflow: hidden; transition: 1.5s; line-height: 2.5; font-size: 1vw; }
.ability_works dd:last-of-type { margin-right: 0vh; }

.ability_works:hover dd { height: 30vh; }
.ability_works:hover dt { text-shadow: 2px -2px 5px #fff; }
.ability_works img, video, iframe { display: block; width: 20vh; height: 15vh; }
.bx { height: 15vh; width: 20vh; overflow: hidden; background-color: rgb(250, 218, 177) ; transition: 0.3s; }
.com { width: 100%; padding: 3vh; }
.img_box { margin-top: -15vh; }
.bx:hover .img_box { margin-top: 0px; }
.bg_w { background-color: #fff; height: 12vh; }

/* 우유곽 애니메이션 */
#milk li {display: block !important;}
#milk { position: relative; transform-style: preserve-3d; animation-name: cube; animation-duration: 7s; animation-iteration-count: infinite; width: 22vh; height: 16vh; margin-top: -3vh; }
.roof { position: absolute; width: 200px; height: 150px; transform: rotateY(-90deg); transform-style: preserve-3d; }
.top { width: 200px; height: 50px; top: 0; transform: rotateY(90deg); background-color: pink; opacity: 0.85; }
.roof .side12, .roof .side14 { position: absolute; top: 50px; width: 0; height: 0; border-style: solid; border-width: 0 100px 100px 100px; border-color: transparent transparent pink transparent; opacity: 0.6; font-size: 40px; text-align: center; line-height: 30px; }
.roof .side13, .roof .side15 { position: absolute; width: 200px; height: 142px;  font-size: 40px; text-align: center; top: 78.1px; opacity: 0.6; }
.side12 { transform: rotateY(0deg) translate3d(0px, 0px, 100px); }
.side13 { transform: rotateY(90deg) rotateX(45deg) translate3d(0px, 0px, 70px); background-color: pink; }
.side14 { transform: rotateY(180deg) translate3d(0px, 0px, 100px); }
.side15 { transform: rotateY(270deg) rotateX(45deg) translate3d(0px, 0px,70px); background-color: pink; }

.milk_cube { position: absolute; top: 150px; width: 200px; height: 200px; transform-style: preserve-3d; backface-visibility: visible; }
.milk_cube li { width: 200px; height: 200px; position: absolute; left: 0; top: 0; opacity: 0.6; color: #000; font-size: 40px; text-align: center; line-height: 200px; }
.side7 { transform: rotateY(0deg) translate3d(0px, 0px, 100px); background-color: pink; }
.side8 { transform: rotateY(90deg) translate3d(0px, 0px, 100px); background-color: pink; }
.side9 { transform: rotateY(180deg) translate3d(0px, 0px, 100px); background-color: pink; }
.side10 { transform: rotateY(270deg) translate3d(0px, 0px, 100px); background-color: pink; }
.side11 { transform: rotateX(270deg) translate3d(0px, 0px, 100px); background-color: pink; }

@keyframes cube { 
  0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.4) scaleZ(0.4) ; }
  40% { transform: rotateX(-20deg) rotateY(180deg) rotateZ(20deg) scale(0.4) scaleZ(0.4); }
  80% { transform: rotateX(20deg) rotateY(360deg) rotateZ(15deg) scale(0.4) scaleZ(0.4); }
  100% { transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg) scale(0.4) scaleZ(0.4); }
}

/* works page */
#works { padding-top: 26vh; }
.work_wrap { width: 70%; margin: 0 auto; }
.tab { width: 80%; padding-bottom: 12vh; }
.tab li { float: left; width: calc(100% / 3); text-align: center; font-size: 2.2em; color: #fff; cursor: pointer; }
.tab li.on { color: #0d75fd; text-shadow: 0px 0px 30px #fff; }
.content {
  /* overflow: hidden; */
  position: relative;
  clear: both;
  float: left;
	--color-text: #0249a5;
	/* --color-bg: #ececec; */
	--color-link: #999;
	--color-link-hover: #fff;
	--color-info: #999;
	font-family: 'Buenard';
  width: 80%;
  height: 50vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #000;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overlay__content span { display: block; text-indent: 0.5em; }
.go { display: block; float: right; color: #000; font-weight: 900; padding-top: 2.5rem;
	--color-link-hover: #0249a5;
}

.me { float: left; width: 18%; position: relative; margin-left: 2%; margin-top: -15vh; }
#charlee { display: block; height: 70vh; }
#real { display: none; height: 77vh; margin-top:-2vh; margin-left:-1vh; }

#hover { position: absolute; width: 180px; font-size: 22px; top: 20%; left: 60%; transform: rotateZ(65deg); transform-origin: 50% 50%; text-shadow: 5px -3px 10px #fff; }

/* contact page */
#rocket { position: absolute; width: 55px; height: 55px; left: 19vw; bottom: 30vh; animation: 8s ease-out infinite rocket; }
@keyframes rocket { 
  3% { transform: rotateZ(0deg); }
  11% { transform: rotateZ(15deg); }
  12% { transform: rotateZ(0deg); }
  13% { transform: rotateZ(10deg); }
  14% { transform: rotateZ(0deg); }
  15% { transform: rotateZ(10deg); }
  16% { transform: rotateZ(0deg); }
  17% { transform: rotateZ(10deg); }
  18% { transform: rotateZ(0deg); }
  19% { transform: rotateZ(15deg); width: 55px; height: 55px; left: 19vw; bottom: 30vh; }
  100% { bottom: 93vh; left: 94vw; width: 15px; height: 15px; }
}
#thank { font-size: 60px; text-align: center; margin: auto; padding-top: 45vh; }
#box { position: absolute; font-size: 30px; left: 10vw; bottom: 10vh; }


#home, #ability, #about { display: none; }