@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width: 100%; height: 100%; color:#fff; background-color: transparent; font-family: 'Indie Flower', 'UhBeeMiMi'; }
html { overflow: hidden; }
body { overflow: auto; }
a { text-decoration: none; color: #fff; }
ul { list-style: none; }
::-webkit-scrollbar { display: none; }
::-moz-scrollbar { display: none; }
::-o-scrollbar { display: none; }
/* universe */
.container { position: fixed; width: 100%; height: 100%; background-image: radial-gradient(1200px at 60% 120%, rgb(23, 28, 58) 5%, #020409 100%); }
.content { width: inherit; height: inherit; }
#universe { width: 100%; height: 100%; }

.page { width: 100%; height: 100vh; position: relative; overflow: hidden; }
.hd { position: fixed; z-index: 999; width: 100%; }
.gnb { color: #fff; font-size: 35px; width: 80%; overflow: hidden; display: flex; justify-content: space-evenly; padding-top: 50px; margin-left: 5%; }
.gnb li { transform: translateX(300px); opacity: 0; cursor: pointer; transition: 1.5s; }
#moon { position: fixed; z-index: 1000; right: 11.5%; top: 4vh; width: 65px; animation: scale 5s infinite linear; cursor: pointer; transform-origin: 50% 60%; }
#info { position: absolute; font-size: 24px; right: 6%; top: 14vh; text-shadow: 1px 1px 10px #fff; }

@keyframes scale {
  0% { transform: scale(0.8) rotate(0deg); }
  50% { transform: scale(1.0) rotate(180deg); }
  100% { transform: scale(0.8) rotate(360deg); }
}
@keyframes circle { 
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

/* home */
#hi { display: block; width: 600px; text-align: center; font-size: 40px; margin: 40vh auto; }

/* about page */
#about { padding-top: 28vh; }
#ab_box { position: absolute; left: 15%; top: 22vh; float: left; transform: rotateZ(-10deg); font-size: 25px;}
#about_menu { position: absolute; font-size: 30px; top: 26%;right: 13%; }
#about_menu li { transform: rotateZ(-20deg); padding: 2vh 0; }
#card { display:block; width: 60%; height: 60vh; margin: auto;}

/* ability page */
#planet_box { width: 87%; height: 85vh; margin: 13vh auto; position: relative; transition: 1s; z-index: 887; }
.planet { cursor: pointer; width: 100%; height: 100%; }
.planet_tit { position: absolute; display: block; font-size: 22px; }
.planet_wrap { position: absolute; }

#ring_wrap { position: absolute; z-index: 888; cursor: pointer; top: 20%; left: 15%; width: 25vh; height: 25vh; transition: 1s; }
#ring { display: block; width: 100%; height: 100%; animation: circle 25s infinite linear; }
#ring_tit { position: absolute; font-size: 25px; text-align: center; width: 100%; top: 43%; }

#html_wrap { width: 13vh; height: 13vh; top: 28%; right: 25%;  position: absolute;}
#html { transform: rotateZ(-130deg); }
#html_tit { top: 85%; left: -32%; }

#css_wrap { width: 16vh; height: 16vh; top: 17%; right: 50%;  position: absolute;}
#css { transform: rotateZ(-10deg); }
#css_tit { top: -14%; left: 25%; }

#javascript_wrap { width: 10vh; height: 10vh; top: 12%; right: 10%; }
#javascript { transform: rotateZ(-110deg); }
#javascript_tit { top: -40%; left: -40%; }

#jquery_wrap { width: 31vh; height: 31vh; bottom: 10%; right: 38%; }
#jquery { transform: rotateZ(20deg); }
#jquery_tit { top: 10%; left: -8%; }

#php_wrap { width: 13vh; height: 13vh; bottom: 28%; left: 19%; }
#php_tit { top: 90%; left: -23%; }

#design_wrap { width: 14vh; height: 14vh; bottom: 15%; right: 14%; }
#design { transform: rotateZ(-20deg); }
#design_tit { top: 95%; left: -40%; }

#ability_box { position: absolute; top: 25%; left: 23%; font-size: 23px; width: 550px; height: 300px; }
#ability_box li { position: absolute; display: none; }
#ability_box li h3 { padding-bottom: 10px; }
#ability_box li span { display: block; padding: 5px 0; }


/* works page */
#works { padding-top: 25vh; }
.work_wrap { width: 1250px; margin: 0 auto; }
.me { float: left; width: 25vh; position: relative; }
#charlee { display: block; height: 70vh; }
#hover { position: absolute; width: 180px; font-size: 22px; top: 22%; left: 60%; transform: rotateZ(65deg); transform-origin: 50% 50%; text-shadow: 5px -3px 10px #fff; }
.work_part { float: left; width: 910px; margin-right: 3vw; text-align: center; } 
.part { clear: both; padding-bottom: 200px; }
.part_tit { color: #fff; padding-top: 20px; font-size: 30px; font-weight: 100; float: left; }
.work_box { float: right; }
.work_box li { float:left; margin-left: 30px; }
.work_box li:hover { text-shadow: 3px 3px 10px #fff; }

/* contact page */
#rocket { position: absolute; width: 55px; left: 19%; bottom: 33vh; animation: rocket 7s ease-out infinite; }
@keyframes rocket { 
  0% { transform: rotateZ(0deg); }
  3% { transform: rotateZ(10deg); }
  6% { transform: rotateZ(0deg); }
  9% { transform: rotateZ(10deg); }
  12% { transform: rotateZ(0deg); }
  15% { transform: rotateZ(10deg); }
  18% { transform: rotateZ(0deg); width: 55px; left: 19%; bottom: 33vh;  }
  100% { bottom: 92vh; left: 85%; width: 15px; }
}
#thank { font-size: 60px; text-align: center; margin: 45vh auto; }
#box { position: absolute; font-size: 30px; left: 25vh; bottom: 18vh; }
