@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body.loading {
  overflow: hidden;
}
body.loaded .loader {
  display: none;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: black;
  transform: translate3d(100%, 0, 0);
}
.loader:after {
  left: 100%;
  transform: translate3d(-100%, 0, 0);
}
.loader.ani:before,
.loader.ani:after {
  animation: translate3d-0 forwards 2s 1s 1
    cubic-bezier(0.44, 0.94, 0.845, 0.415);
}
@keyframes translate3d-0 {
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.loader.ani .logo {
  animation: opacity-0 0.5s 3s 1 forwards;
}
@keyframes opacity-0 {
  100% {
    opacity: 0;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: pink;
}
.con {
  background-color: rgb(82, 35, 2);
  height: 300vh;
}
