@charset "utf-8";
/* index 콘텐츠 영역 공통 */
.page { background: center/cover no-repeat; }
.page h2,
.page h3 { line-height: 1.2; padding-bottom: 10px; }
.description { line-height: 1.2; }

/* 푸터 */
.copy { font-size: 12px; color: rgb(182, 182, 182); }
.toTop { position: fixed; bottom: 30px; right: 30px; font-size: 14px; color: rgb(182, 182, 182); }
.toTop::before { content: ''; display: block; width: 20px; height: 20px; margin: 0 auto; background: url(../images/arrow.png) center/contain no-repeat; }


/* section1 */
#section1 .textBox { max-width: 100%; padding: 80px 0 200px; background: url(../images/section1-bg.jpg) 80% 0/cover no-repeat; }
#section1 ul { display: flex; display: -ms-flexbox; flex-direction: column; width: 100%; margin-top: -120px; background: url(../images/section1-bg2.jpg) center/cover no-repeat; }
.section1--contents { position: relative; height: 220px; background: bottom/cover no-repeat; }
.section1--contents:nth-child(1) { background-image: url(../images/section1-con1-bg.jpg); }
.section1--contents:nth-child(2) { background-image: url(../images/section1-con2-bg.jpg); }
.section1--contents:nth-child(3) { background-image: url(../images/section1-con3-bg.jpg); }

.section1--contents div { display: flex; display: -ms-flexbox; flex-direction: column; justify-content: center; align-items: center; height: 100%; color: #fff; transition: .3s; }
.section1--contents:nth-of-type(odd) div { background-color: rgba(30, 81, 143, .7); }
.section1--contents:nth-of-type(even) div { background-color: rgba(25, 31, 79, .7); }
.section1--contents img { height: 60px; }
.section1--contents h3 { padding: 10px 0; font-weight: normal; font-size: 1rem; }
.section1--contents p { text-align: center; font-weight: normal; font-size: .8rem; }
.section1--contents .btn-blue { display: none; }

.section1--contents.on div { background-color: rgba(51, 196, 232, .8); }
.section1--contents.on h3 { font-size: 1.1rem; }
.section1--contents.on p { display: none; }
.section1--contents.on .btn-blue { display: block; }

/* section2 */
#section2 { padding: 80px 0; background-image: url(../images/section2-bg.jpg); color: #fff; }
#section2 h2 { width: 8em; margin: 0; font-size: 60px; }
#section2 h2 span { display: block; text-transform: uppercase; color: #28c5f6; }
#section2 h2 span:first-child { letter-spacing: .45em; font-weight: 300; color: #0c6fbc; }
#section2 .textBox { display: flex; display: -ms-flexbox; flex-direction: column; padding-bottom: 40px; }
#section2 .contentBox { display: flex; display: -ms-flexbox; flex-flow: wrap; justify-content: space-between; }
#section2 .contentBox li { overflow: hidden; width: 100%; margin-bottom: 15px; height: 200px; background: center/cover no-repeat; }
#section2 .contentBox li:nth-of-type(1) { background-image: url(../images/section2-con1-bg.JPG); }
#section2 .contentBox li:nth-of-type(2) { background-image: url(../images/section2-con2-bg.jpg); }
#section2 .contentBox li:nth-of-type(3) { background-image: url(../images/section2-con3-bg.jpg); }
#section2 .contentBox li:nth-of-type(4) { background-image: url(../images/section2-con4-bg.jpg); }
#section2 .contentBox li:nth-of-type(5) { background-image: url(../images/section2-con5-bg.jpg); }
#section2 .contentBox li:nth-of-type(6) { background-image: url(../images/section2-con6-bg.jpg); }

#section2 .card { display: flex; display: -ms-flexbox; flex-direction: column; justify-content: space-between; align-items: center; height: 100%; margin: 160px auto 0; background-color: rgba(51, 196, 232, .8); text-align: center; color: #000; transition: .5s; }
#section2 .contentBox li .card.on { justify-content: center; background-color: rgba(51, 196, 232, 1); animation: cardUp 1s ease 1 forwards; }
@keyframes cardUp {
  100% { width: 100%; margin-top: 0; }
}

#section2 .card h3 { font-size: .9em; line-height: 40px; }
#section2 .card > div { display: flex; display: -ms-flexbox; flex-direction: column; justify-content: center; align-items: center; font-size: 0.75em; }
#section2 .card a { display: inline-block; margin: 0.7em auto 0; }

@media screen and ( min-width: 500px ){
  /* section2 */
  #section2 .contentBox li { width: calc(50% - 7px); margin-bottom: 15px; }
}

/* 타블랫 이상 */
@media screen and ( min-width: 750px ){
  #section1 .textBox { padding: 200px 0 350px; }
  #section1 ul { flex-direction: row; justify-content: center; margin-top: 0; height: 300px; }
  .section1--contents { width: 426px; height: 300px; margin-top: -150px; }
  .section1--contents img { height: 90px; }
  
  /* section2 */
  #section2 .contentBox li { width: calc(100%/3 - 9px); margin-bottom: 15px; }
}

/* 데스크탑 */
@media screen and ( min-width: 1080px ){
  /* section2 */
  #section2 { padding: 150px 0 50px; }
  #section2 h2 { margin-right: 40px; }
  #section2 h2 span { font-size: 79px; }
  #section2 .textBox { flex-direction: row; align-items: center; }
  #section2 .textBox p { max-width: 900px; }
  #section2 .contentBox { padding-bottom: 150px; }
  #section2 .contentBox li { flex-basis: calc(25% - 15px); margin-bottom: 20px; height: 280px; }
  #section2 .contentBox li:first-child,
  #section2 .contentBox li:last-child { flex-basis: calc(50% - 10px); }
  #section2 .card { width: 60%; margin: 235px auto 0; }
  #section2 .card h3 { line-height: 45px; }


  @keyframes cardUp {
    20% { width: 100%; margin-top: 235px; }
    100% { width: 100%; margin-top: 0; }
  }
}