$base-bg: #f4f7fc;
$base-bg2: #c4cedd;
$bg: #153d77;
$point-color: #3b7ddd;
$point-color2: #7e84de;
$font-color: #6c757d;
$selected-font-color: #212529;
$border-color: #e3e3e3;
$gray: #eee;
$white: #fff;

%padding {
  padding: 0.2em 0.2em;
}
%frame {
  padding: 1.1rem;
  box-sizing: border-box;
}
%frame-side {
  padding: 0 20px;
  box-sizing: border-box;
}
%scrollBar-hidden {
  overflow: auto;
  scrollbar-width: none; //firefox
  -ms-overflow-style: none; //IE and Edge
  &::-webkit-scrollbar {
    display: none; //chrome, safari, opera
  }
}

body {
  background-color: $base-bg;
}
header {
  min-width: 320px;
  padding: 15px;
  box-sizing: border-box;
  background-color: $bg;
  color: $white;
  h1 {
    padding: 16vh 0 5vh;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
  }
}
.infoBox {
  padding-bottom: 3vh;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1rem;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin-top: 15px;
  padding: 3vh 2vh 2vh;
  box-sizing: border-box;
}
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  .data {
    width: 100%;
    padding: 0.4em;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 0.8rem;
  }
}
.nav {
  max-width: 70%;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
}
.menu-item {
  flex-grow: 1;
  width: 20%;
  margin: 1%;
  background-color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  span {
    color: #000;
  }
  a::before {
    content: "";
    display: block;
    padding-top: 100%;
    background-color: #aaa;
  }
}
