html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

header .logo {
  color: #777;
  font-weight: bolder;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

header form input {
  display: block;
  border: 0;
  padding: 0 1em;
}

header form input[type=submit] {
  margin-left: .5em;
  background-color: gold;
}

nav .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .gnb li {
  width: 25%;
  background-color: gold;
  -webkit-transition: .3s;
  transition: .3s;
}

nav .gnb li a {
  display: block;
  padding: 1em;
  text-align: center;
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}

nav .gnb li:hover {
  width: 33%;
  background-color: indianred;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main aside {
  background-color: #fff;
}

main aside.left .desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main aside.left .user-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main aside .user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

main aside .list-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  background-color: #333;
}

main section {
  padding: 1em;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card-item figure {
  margin: 0;
  padding-top: 50%;
  background: url(https://placehold.it/200x200);
}

.card-item p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1em;
  background-color: #fff;
}

@media (min-width: 900px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main aside.left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  main aside {
    width: 250px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  main section {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .card-list {
    margin: -.5em;
  }
  .card-item {
    width: 50%;
    padding: .5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .card-item {
    width: 33.333%;
  }
}
/*# sourceMappingURL=index.css.map */